In [5]:
import os
import pandas as pd

In [6]:
mrt_master_df = pd.DataFrame()

In [7]:
filepath = 'Data\LTA API\PassengerVolumeByTrainStations'

mrt_dfs = []

for file in os.listdir(filepath):
    if file.startswith('transport_node_train') and file.endswith('.csv'):
        print(file)
        temp_df = pd.read_csv(os.path.join(filepath, file))
        mrt_dfs.append(temp_df)

mrt_master_df = pd.concat(mrt_dfs)

transport_node_train_202403.csv
transport_node_train_202404.csv
transport_node_train_202405.csv
transport_node_train_202406.csv
transport_node_train_202407.csv
transport_node_train_202408.csv
transport_node_train_202409.csv
transport_node_train_202410.csv
transport_node_train_202411.csv

In [11]:
mrt_master_df

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-03,WEEKDAY,11,TRAIN,NS7,21943,15130
1,2024-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,13062,14512
2,2024-03,WEEKDAY,16,TRAIN,SW4,2124,3233
3,2024-03,WEEKENDS/HOLIDAY,16,TRAIN,SW4,1532,1736
4,2024-03,WEEKENDS/HOLIDAY,10,TRAIN,CC5,1886,2659
...,...,...,...,...,...,...,...
7175,2024-11,WEEKDAY,13,TRAIN,PE6,8439,9331
7176,2024-11,WEEKDAY,23,TRAIN,CC19/DT9,1305,1376
7177,2024-11,WEEKENDS/HOLIDAY,5,TRAIN,EW10,521,114
7178,2024-11,WEEKDAY,20,TRAIN,NS15,19575,15665
7179,2024-11,WEEKENDS/HOLIDAY,5,TRAIN,NS7,8439,1449

In [ ]:
missing_hours = [1,2,3,4]

for year_month in mrt_master_df['YEAR_MONTH'].unique():
    for day_type in mrt_master_df['DAY_TYPE'].unique():
        for pt_type in mrt_master_df['PT_TYPE'].unique():
            for pt_code in mrt_master_df['PT_CODE'].unique():
                for hour in missing_hours:
                    mrt_master_df.loc[len(mrt_master_df)] = [year_month, day_type, hour, pt_type, pt_code, 0, 0]

In [17]:
mrt_master_df

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-03,WEEKDAY,11,TRAIN,NS7,21943,15130
1,2024-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,13062,14512
2,2024-03,WEEKDAY,16,TRAIN,SW4,2124,3233
3,2024-03,WEEKENDS/HOLIDAY,16,TRAIN,SW4,1532,1736
4,2024-03,WEEKENDS/HOLIDAY,10,TRAIN,CC5,1886,2659
...,...,...,...,...,...,...,...
75970,2024-11,WEEKENDS/HOLIDAY,4,TRAIN,TE28,0,0
75971,2024-11,WEEKENDS/HOLIDAY,1,TRAIN,PW2,0,0
75972,2024-11,WEEKENDS/HOLIDAY,2,TRAIN,PW2,0,0
75973,2024-11,WEEKENDS/HOLIDAY,3,TRAIN,PW2,0,0
75974,2024-11,WEEKENDS/HOLIDAY,4,TRAIN,PW2,0,0

In [18]:
mrt_master_df.to_csv('Data\Master Sets\TrainStationMaster.csv')