In [11]:
import pandas as pd
from tqdm import tqdm

In [12]:
frequency = 'daily'

In [13]:
nyc_master_df = pd.read_csv(f'Data/Master Sets/NYC Master/Yearly Combined/NYC_Combined_{frequency}.csv')

In [14]:
nyc_master_df.head()

,Unnamed: 0,year,month,day,station_complex_id,station_complex,borough,latitude,longitude,ridership,...,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,0,2021,6,1,1,"Astoria-Ditmars Blvd (N,W)",Queens,40.775036,-73.912030,7047.0,...,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0.0,0.0,0.0,NaN,POINT (-73.912034 40.775036)
1,1,2021,6,1,10,"49 St (N,R,W)",Manhattan,40.759900,-73.984140,5267.0,...,Subway,40.759901,-73.984139,Uptown,Downtown,2.0,1.0,0.0,Uptown only,POINT (-73.984139 40.759901)
2,2,2021,6,1,100,"Hewes St (M,J)",Brooklyn,40.706870,-73.953430,1495.0,...,Elevated,40.706870,-73.953431,Outbound,Manhattan,0.0,0.0,0.0,NaN,POINT (-73.953431 40.70687)
3,3,2021,6,1,101,"Marcy Av (M,J,Z)",Brooklyn,40.708360,-73.957756,6170.0,...,Elevated,40.708359,-73.957757,Outbound,Manhattan,1.0,1.0,1.0,NaN,POINT (-73.957757 40.708359)
4,4,2021,6,1,103,"Bowery (J,Z)",Manhattan,40.720280,-73.993910,1443.0,...,Subway,40.720280,-73.993915,Brooklyn,Downtown,0.0,0.0,0.0,NaN,POINT (-73.993915 40.72028)

In [15]:
station_network_list = nyc_master_df['GTFS Stop ID'].unique()
station_network_list.sort()
time_interval = nyc_master_df['unique_time'].unique()
time_interval.sort()

In [16]:
def compute_time_series(col: str):

    if col not in nyc_master_df:
        raise ValueError('Column does not exist')
    temp_dict = {}

    for station in tqdm(station_network_list):
        for time in time_interval:
            temp_df = nyc_master_df[(nyc_master_df['GTFS Stop ID'] == station) & (nyc_master_df['unique_time'] == time)]
            val = temp_df[col].mean() # Takes mean of all rows
            if station not in temp_dict:
                temp_dict[station] = {}
            temp_dict[station][time] = val
    return temp_dict

In [17]:
ts_matrix = pd.DataFrame(compute_time_series('ridership'))

100%|██████████| 426/426 [00:22<00:00, 18.76it/s]

In [18]:
ts_matrix

,101,103,104,106,107,108,109,110,111,113,...,R41,R42,R43,R44,R45,S01,S03,S04,S30,S31
2021-06-01,3726.0,2064.0,4864.0,2577.0,811.0,3330.0,3547.0,4620.0,NaN,5241.0,...,6711.0,3842.0,2607.0,5822.0,2734.0,2535.0,769.0,3069.0,416.0,4685.0
2021-06-02,3884.0,2204.0,4948.0,2418.0,850.0,3317.0,3548.0,4587.0,NaN,5367.0,...,6619.0,3837.0,2680.0,5828.0,2798.0,2713.0,780.0,6584.0,400.0,4681.0
2021-06-03,3450.0,2073.0,4619.0,2412.0,771.0,2961.0,3348.0,3935.0,2.0,5050.0,...,6213.0,3611.0,2514.0,5574.0,2709.0,2499.0,727.0,3018.0,377.0,4328.0
2021-06-04,3512.0,2184.0,4620.0,2546.0,817.0,3195.0,3485.0,4232.0,NaN,5315.0,...,6567.0,3740.0,2663.0,5574.0,2562.0,2605.0,744.0,6657.0,397.0,4203.0
2021-06-05,2352.0,1524.0,3402.0,2003.0,609.0,2398.0,2828.0,3449.0,NaN,4509.0,...,4735.0,2953.0,1852.0,3997.0,1697.0,2035.0,639.0,2831.0,3.0,67.0
2021-06-06,1779.0,1232.0,2251.0,1521.0,562.0,1715.0,2217.0,2639.0,NaN,3358.0,...,3655.0,2073.0,1284.0,3032.0,1371.0,1481.0,553.0,2061.0,2.0,23.0
2021-06-07,3652.0,1967.0,4662.0,2504.0,860.0,3091.0,3337.0,4296.0,2.0,5188.0,...,6541.0,3464.0,2561.0,5527.0,2723.0,2562.0,756.0,3067.5,388.0,4233.0
2021-06-08,3742.0,2006.0,4594.0,2533.0,950.0,3122.0,3310.0,4381.0,2.0,5257.0,...,6395.0,3495.0,2597.0,5544.0,2622.0,2542.0,693.0,3033.5,382.0,4515.0
2021-06-09,3820.0,2201.0,5024.0,2627.0,903.0,3365.0,3674.0,4514.0,NaN,5588.0,...,6510.0,3657.0,2715.0,5948.0,2811.0,2744.0,786.0,3372.5,366.0,4525.0
2021-06-10,4023.0,2302.0,5182.0,2899.0,886.0,3430.0,3763.0,5022.0,NaN,5789.0,...,6710.0,3908.0,2813.0,6134.0,2921.0,2828.0,822.0,6896.0,432.0,4681.0
2021-06-11,3829.0,2265.0,5236.0,2775.0,891.0,3538.0,3911.0,4809.0,2.0,5914.0,...,6726.0,4110.0,2722.0,6110.0,2836.0,2980.0,840.0,3439.5,399.0,4274.0
2021-06-12,2422.0,1529.0,3200.0,1861.0,605.0,2444.0,2747.0,3477.0,NaN,4348.0,...,4552.0,2744.0,1930.0,4151.0,1719.0,1677.0,560.0,2857.0,7.0,31.0
2021-06-13,1761.0,1209.0,2516.0,1576.0,509.0,1847.0,2211.0,2921.0,1.0,3347.0,...,3607.0,2133.0,1386.0,3211.0,1341.0,1252.0,443.0,2216.5,23.0,183.0
2021-06-14,3593.0,2083.0,4563.0,2479.0,864.0,3028.0,3317.0,4439.0,NaN,5256.0,...,6532.0,3580.0,2604.0,5439.0,2603.0,2356.0,706.0,3057.5,371.0,4131.0
2021-06-15,3845.0,2342.0,5038.0,2787.0,911.0,3425.0,3644.0,4893.0,NaN,5743.0,...,6884.0,3994.0,2778.0,6049.0,2839.0,2682.0,820.0,3381.0,410.0,4841.0
2021-06-16,3942.0,2343.0,5001.0,2755.0,989.0,3464.0,3824.0,4795.0,NaN,5915.0,...,7058.0,3797.0,2787.0,6133.0,2756.0,2761.0,817.0,3481.5,425.0,4700.0
2021-06-17,3926.0,2406.0,5258.0,2835.0,986.0,3441.0,3890.0,5214.0,NaN,5900.0,...,7039.0,4034.0,2856.0,6174.0,2956.0,2876.0,843.0,3441.5,393.0,4928.0
2021-06-18,3768.0,2340.0,5224.0,2798.0,916.0,3546.0,4004.0,5053.0,NaN,6131.0,...,6834.0,4015.0,2804.0,6116.0,2673.0,3100.0,862.0,3649.0,401.0,4374.0
2021-06-19,2401.0,1539.0,3259.0,2023.0,627.0,2464.0,2743.0,3539.0,2.0,4660.0,...,4534.0,2731.0,1903.0,4128.0,1733.0,2497.0,672.0,2584.5,9.0,64.0
2021-06-20,1814.0,1221.0,2572.0,1620.0,546.0,1811.0,2192.0,2866.0,NaN,3509.0,...,3481.0,2169.0,1292.0,3161.0,1378.0,2044.0,630.0,2007.5,13.0,43.0
2021-06-21,3431.0,2075.0,4668.0,2533.0,889.0,3122.0,3336.0,4573.0,3.0,5261.0,...,6607.0,3748.0,2607.0,5531.0,2733.0,2411.0,751.0,6049.0,413.0,4492.0
2021-06-22,3485.0,2150.0,4635.0,2563.0,909.0,3192.0,3443.0,4536.0,1.0,5368.0,...,6472.0,3620.0,2570.0,5539.0,2795.0,2526.0,841.0,3190.5,374.0,4573.0
2021-06-23,4015.0,2390.0,5215.0,2758.0,943.0,3445.0,3951.0,5120.0,NaN,5793.0,...,6794.0,3991.0,2786.0,6150.0,2741.0,2792.0,809.0,3532.5,423.0,4986.0
2021-06-24,3893.0,2395.0,5105.0,2718.0,993.0,3484.0,3796.0,4966.0,1.0,5861.0,...,6921.0,3908.0,2862.0,6226.0,2843.0,2781.0,866.0,3503.5,356.0,5020.0
2021-06-25,3830.0,2406.0,5326.0,2816.0,943.0,3503.0,3970.0,5062.0,NaN,5952.0,...,6825.0,4135.0,2827.0,6063.0,2817.0,2897.0,868.0,7416.0,438.0,4573.0
2021-06-26,2605.0,1386.0,2843.0,1760.0,538.0,2100.0,2752.0,3416.0,2.0,4495.0,...,4390.0,2782.0,1890.0,3925.0,1725.0,1791.0,674.0,2833.0,199.0,1597.0
2021-06-27,2170.0,1243.0,2429.0,1578.0,405.0,1762.0,2175.0,2995.0,NaN,3890.0,...,3753.0,2165.0,1408.0,3024.0,1324.0,1426.0,544.0,2461.5,145.0,1372.0
2021-06-28,3658.0,2047.0,4407.0,2363.0,824.0,2927.0,3176.0,4274.0,NaN,5203.0,...,6375.0,3433.0,2570.0,5502.0,2712.0,2389.0,732.0,5913.0,379.0,4511.0
2021-06-29,3695.0,2094.0,4096.0,2587.0,853.0,3113.0,3428.0,4686.0,NaN,5276.0,...,6332.0,3601.0,2510.0,5675.0,2751.0,2514.0,783.0,3121.5,390.0,4656.0
2021-06-30,3656.0,1991.0,4447.0,2467.0,796.0,2926.0,3284.0,4145.0,NaN,5366.0,...,6217.0,3414.0,2621.0,5605.0,2708.0,2597.0,776.0,6355.0,339.0,4445.0

In [19]:
# Shortcut solution to set all NA values to 0
ts_matrix.fillna(0, inplace=True)

# TODO Imputation for NA values

In [20]:
ts_matrix.to_csv(f'Data/Master Sets/NYC Master/NYC_Time_Series_{frequency}.csv')