In [67]:
import pandas as pd

In [68]:
mrt_master_df = pd.read_csv('Data/Master Sets/TrainStationMaster.csv')

In [69]:
mrt_master_df.head()

,Unnamed: 0,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,0,2024-03,WEEKDAY,11,TRAIN,NS7,21943,15130
1,1,2024-03,WEEKENDS/HOLIDAY,11,TRAIN,NS7,13062,14512
2,2,2024-03,WEEKDAY,16,TRAIN,SW4,2124,3233
3,3,2024-03,WEEKENDS/HOLIDAY,16,TRAIN,SW4,1532,1736
4,4,2024-03,WEEKENDS/HOLIDAY,10,TRAIN,CC5,1886,2659

In [70]:
station_network_list = mrt_master_df['PT_CODE'].unique()
station_network_list.sort()
time_interval = mrt_master_df['YEAR_MONTH'].unique()
time_interval.sort()

In [71]:
temp_dict = {

}

for station in station_network_list:
    for time in time_interval:
        temp_df = mrt_master_df[(mrt_master_df['PT_CODE'] == station) & (mrt_master_df['YEAR_MONTH'] == time)]
        val = temp_df['TOTAL_TAP_IN_VOLUME'].mean()
        if station not in temp_dict:
            temp_dict[station] = {}
        temp_dict[station][time] = val

In [72]:
ts_matrix = pd.DataFrame(temp_dict)

In [73]:
ts_matrix.to_csv('Data\Master Sets\StationTimeSeries.csv')